<!-- MAIN HTML  -->

<!-- //App Component -->

  <div class="ui container">
    <div class="ui grid">
      <div class="sixteen wide column">
        <div class="ui segment center aligned">
        <h1 class="ttle">{{ title }}</h1> 
          <h3>by - {{ designer }}</h3>
        </div>
      </div>
  
    


    <div class="ui grid">
      
      <div class="sixteen wide column">
        <div class="ui teal segment">
          <app-heroes></app-heroes> 
        </div>      
      </div>
    </div>
  </div>

