
<h3> {{ hero.name | uppercase }} Details </h3>
<div><span>Id:</span> {{ hero.id }}</div>
<div>
<label> Name:
	<input [(ngModel)]="hero.name" placeholder="name">	
</label>
</div>


<!-- ngModel is used for Two Way Data Binding -->


<!-- <h2> {{ heroine1.name | uppercase }} Details </h2>
<div><span>Id:</span> {{ heroine1.id }}</div>
<div><span>Name:</span> {{ heroine1.name }}</div>
<div><span>Sex:</span> {{ heroine1.sex }}</div>

<h2> {{ heroine2.name | uppercase }} Details </h2>
<div><span>Id:</span> {{ heroine2.id }}</div>
<div><span>Name:</span> {{ heroine2.name }}</div>
<div><span>Sex:</span> {{ heroine2.sex }}</div>
 -->

