


<!-- Use of *ngFor as Loop. Host element is li, will repeat Host element for each item  -->

<!-- <div class="ui grid">
	<div class="four column row">
		<div class="left floated column"> -->
<div class="ui grid">
	
		<div class="four wide column">
		<div class="ui form segment">
			<div class="ui horizontal divider"> HEROES </div>
				<div class="ui middle aligned selection list">
			
					<div class="item" *ngFor="let selectedHero of heroList" (click)="detailsHero(selectedHero)">
						<div class="middle aligned content">
							<a class="header listheader">{{ selectedHero.name | uppercase }}</a>
						</div>
					</div>
				</div>
			
		</div>
	</div>
	
	<div class="twelve wide column">
		
		<app-hero-detail [hero]="selectedHero" [bind1_child]="bind1_parent"  [bind2_child]="bind2_parent"></app-hero-detail>
		
	</div>

</div>



<!-- ngModel is used for Two Way Data Binding -->


<!-- <h2> {{ heroine1.name | uppercase }} Details </h2>
<div><span>Id:</span> {{ heroine1.id }}</div>
<div><span>Name:</span> {{ heroine1.name }}</div>
<div><span>Sex:</span> {{ heroine1.sex }}</div>

<h2> {{ heroine2.name | uppercase }} Details </h2>
<div><span>Id:</span> {{ heroine2.id }}</div>
<div><span>Name:</span> {{ heroine2.name }}</div>
<div><span>Sex:</span> {{ heroine2.sex }}</div>
 -->

